/* CONTENT */
.content-bg {
  padding: $layer-padding 0;
}
body.page-home .content-bg {
  text-align: center;
}

body.home-page .content-bg {
    display:none;
}

.moduletable.home-bio h1 {
    border-bottom:solid 4px #333;
    display:inline-block;
    padding-bottom:5px;
    text-transform: uppercase;
}

.moduletable.home-bio h3 {
    font-size:16px!important;
}

.moduletable.home-bio .bio-image {
    text-align: center;
}

.section-1 .slide-in-demo {
    position: absolute;
    top: 15%;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 4em;
}

.pricing-box .moduletable {
    background-color:#333333;
    padding:50px 20px 50px 20px;
    color:#ffffff;
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
}

.col-left .moduletable {
    background-color:#333333;
    padding:15px 15px 15px 15px;
    color:#ffffff;
    margin-bottom:30px;
    text-align: center;
}

.small-h1 {
    font-size:14px!important;
}

.cta-box .moduletable {
    background:silver;
    padding:200px 0px 0px 0px;
    margin-bottom:20px;
}

.cta-box .moduletable p {
    background:rgba(51,51,51,0.9);
    color:#ffffff;
    padding:20px;
    font-size:15px;
    text-transform: uppercase;
}

.faqs-box .moduletable {
    background:url('../images/background/ctas/faqs-bg.jpg') no-repeat;
    background-size:cover;
}
.blog-box .moduletable {
    background:url('../images/background/ctas/blog-bg.jpg') no-repeat;
    background-size:cover;
    background-position: 50% 50%;
}
.extra-box .moduletable {
    background:url('../images/background/ctas/classes-bg.jpg') no-repeat;
    background-size:cover;
    background-position: 50% 50%;
}

.blog-background {
    background:#F2F2F2;
    border-left:solid 5px #ffffff;
    border-right:solid 5px #ffffff;
    margin-bottom:30px;
}

.custom-itemView {
    padding:0px!important;
}

.custom-imageBlock {
    padding:0px!important;
}

.blog-post-padding {
    padding:10px 30px;
}

div.itemToolbar {
    display:none;
}

@media (min-width: $screen-xs-min) {

  .content-bg {
    padding: $layer-padding-xs 0;
  }
}
@media (min-width: $screen-sm-min) {

  .content-bg {
    padding: $layer-padding-sm 0;
  }
}
@media (min-width: $screen-md-min) {

  .content-bg {
    padding: $layer-padding-md 0;
  }
    
.pricing-box .moduletable {
    margin-top:50px;
    margin-bottom:50px;
}
    
  .home-bio-bg {
      background-color:#ffffff;
      padding-top:40px;
  }
.moduletable.home-bio .bio-text {
    padding-top:50px;
    padding-bottom:100px;
}
    .moduletable.home-bio h1 {
   font-size:22px!important;
}
        
    .testimonial-bg {
       background:url('../images/background/testimonial-bg.png') no-repeat black;
        background-attachment: fixed;
        padding-top:110px;
        padding-bottom:110px;
        background-position:50% 360%;
    }
    .moduletable.testimonial {
        width:30%;
        float:right;
        text-align: right;
        color:#ffffff;
        font-size:20px;
        font-style: italic;
    }
    
    body.blog-page .content {
    padding-left:30px;
}

}
@media (min-width: $screen-lg-min) {

  .content-bg {
    padding: $layer-padding-lg 0;
  }
}
@media (min-width: $screen-xlg-min) {

  .content-bg {
    padding: $layer-padding-xlg 0;
  }
}





/* K2 STYLING */
.itemBackToTop {
  display: none;
}
#k2Container.itemView {
  padding: 0;
  margin: 0;
}


/* RS FORM STYLING */
.form-control {
    padding: 8px 12px;
}

.formControlLabel {
    display:none;
}
.formResponsive .formHorizontal .formControls {
    margin-left: 0px;
}
.rsform {
    text-align: center;
}
.rsform h2 {
    display:none;
}
.formResponsive input[type="text"] {
    height: 35px;
    width: 250px;
}
.formResponsive textarea {
    width: 250px;
}


.footer-right .moduletable {
    float:right;
}